.all-truck-items {
    display: flex;
    justify-content: space-evenly;
        align-items: center;
}

.all-truck-items > .truck-item {
    color: red;
}


.all-truck-items > .breakfast {
    color: blue;
}


.all-truck-items > .lunch {
    color: Green;
}


.all-truck-items > .dinner {
    color: orangered;
}